input#hostname {
  margin: 50px 0;
  padding: 10px 40px;
  font-size: 200%;
}

div#ssl-validity {
  color: #444;
}

div#ssl-validity span {
  color: #000;
  margin: 0 0 16px 0;
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
}

input#hostname {
  text-align: center;
}
