<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/js/nina.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/nina.css"/>
    <link rel="stylesheet" href="/css/spinner.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="text-center">
        <h1>Check SSL certificate</h1>
        <input type="text" id="hostname" placeholder="example.com"/>
        <div id="loader" class="hidden">
          <span class="spinner orange"></span>
        </div>

        <div id="error" class="hidden">
          Oh no... could not fetch certificate!
        </div>

        <div id="ssl-validity" class="hidden">
          Certificate for
          <span class="hostname" id="ssl-validity-hostname"></span>
          is valid until
          <span class="valid_until" id="ssl-validity-valid_until"></span>
        </div>

        <div>
          <button id="refresh-targets">↻ Refresh</button>
        </div>

        <ul id="targets-list">
        </ul>

        <p>
          Powered by
        </p>
        <img src="./images/crystal-logo.svg" width="10%" />
        <p>
          <a href="https://github.com/lxxxvi/nina">https://github.com/lxxxvi/nina</a>
        </p>
      </div>
    </div>
  </body>
</html>
